<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.5.0" targetFramework="net35" requireReinstallation="True" />
  <package id="LinqDynamic" version="1.9.5205.35168" targetFramework="net35" />
  <package id="PocoPropertyData" version="1.0.5205.34680" targetFramework="net40" />
</packages>